
.container_app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#create-employee > div:nth-child(10) {
  padding-top: 10px;
  padding-bottom: 10px;
  }

  
#create-employee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26rem;
}

fieldset.border-2 {
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-around;
  }