





#create-employee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 26rem;
}

fieldset.border-2 {
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-around;
  }